$color-primary: #55a630;
$color-secondary: #aacc00;
$color-highlight: #bc6c25;

$color-white: #fff;
$color-black: #000;
$color-grey: #f3f3f3;

$padding-xxs: 0.5rem;
$padding-xs: 1rem;
$padding-sm: 2rem;
$padding-md: 4rem;
$padding-lg: 8rem;
$padding-xl: 12rem;

$margin-xxs: 0.5rem;
$margin-xs: 1rem;
$margin-sm: 2rem;
$margin-md: 4rem;
$margin-lg: 8rem;
$margin-xl: 12rem;
$margin-xxl: 14rem;

$box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
$box-shadow-1: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$box-shadow-2: 0 1rem 2rem rgba(0, 0, 0, 0.1);

$border-radius-sm: 4px;
$border-radius-md: 10px;
$border-radius-lg: 20px;
$border-radius-xl: 40px;

$grid-gap-xs: 1rem;
$grid-gap-sm: 4rem;
$grid-gap-md: 6rem;
$grid-gap-lg: 8rem;

$bp-xl: 65em; //1040px
$bp-lg: 62.5em; //1000px
$bp-md: 50em; //800px
$bp-sm: 47.5em; //760px
$bp-xs: 37.5em; //600px
$bp-xxs: 25em; //400px
