.btn-primary {
    font: inherit;
    font-size: 2.4rem;
    font-weight: 600;
    color: $color-white;
    padding: $padding-xs $padding-lg;
    border: none;
    border-radius: $border-radius-xl;
    background-color: $color-highlight;
}
