.btn-primary {
    display: inline-block;
    font: inherit;
    font-size: 2rem;
    font-weight: 600;
    color: $color-white;
    padding: $padding-xs $padding-lg;
    border: none;
    border-radius: $border-radius-xl;
    background-color: $color-highlight;
    box-shadow: $box-shadow;

    &:hover {
        box-shadow: $box-shadow-1;
        transform: translateY(-4px);
    }

    &:active {
        box-shadow: $box-shadow;
        transform: translateY(0);
    }
}
