.card {
    background-color: rgba($color-primary, 0.2);
    padding: $padding-xs;

    list-style: none;
    &__link {
        &,
        &:link,
        &:active {
            color: $color-black;
            display: grid;
            grid-template-columns: min-content 1fr;
            column-gap: $grid-gap-xs;
            align-items: center;
            text-decoration: none;

            @media only screen and (max-width: $bp-md) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    &__img-container {
        width: 10rem;
        height: 10rem;
        overflow: hidden;

        @media only screen and (max-width: $bp-lg) {
            width: 8rem;
            height: 8rem;
        }

        @media only screen and (max-width: $bp-md) {
            width: 100%;
            height: auto;
            object-fit: cover;
            margin-bottom: $margin-xs;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        font-size: 2rem;

        @media only screen and (max-width: $bp-xs) {
            font-size: 1.6rem;
        }
    }

    &__nutrition-overview {
        margin-top: 1rem;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: $grid-gap-xs;
        row-gap: $grid-gap-xs;

        @media only screen and (max-width: $bp-xl) {
            display: none;
        }
    }
    &__nutrition-item {
        font-size: 1.2rem;
    }

    &:not(:last-of-type) {
        margin-bottom: $margin-sm;
    }

    &__selected {
        border: 2px solid $color-primary;
    }
}
