.search {
    &__input {
        font: inherit;
        padding: $padding-xs;
        padding-left: $padding-sm;
        width: 100%;
        border-radius: $border-radius-sm;
        border: none;
        border-bottom: 3px solid transparent;

        &::placeholder {
            font-size: 1.6rem;
            transform: translateY(1.5px);
        }

        &:focus {
            outline: none;
            border-bottom: 3px solid $color-highlight;
        }
    }

    &__basic-input {
        box-shadow: $box-shadow;
    }

    &__basic {
        width: 100%;
    }

    &__advanced-toggle {
        &,
        &:link,
        &:visited {
            display: block;
            margin-top: $margin-sm;
            text-decoration: none;
            color: rgba($color-black, 0.5);
            font-size: 1.6rem;
            font-weight: 500;
        }
        &:hover {
            color: $color-highlight;
            text-decoration: underline;
        }

        &--navi {
            margin-top: 1rem !important;
        }
    }

    &__btn {
        margin-top: $margin-md;

        &--navi {
            grid-row: 1/2;
            grid-column: 2/3;
            margin-top: 0;
            margin-left: $margin-md;
        }
    }

    // advanced search box
    &__advanced {
        background-color: $color-white;
        border-radius: $border-radius-sm;
        margin-top: $margin-sm;
        padding: $padding-md;
        width: 100%;

        display: grid;
        grid-template-columns: min-content repeat(2, 1fr);
        align-items: center;
        gap: $grid-gap-xs;

        position: relative;

        &--navi {
            grid-column: 1/4;
        }
    }
    &__label {
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__advanced-input {
        box-shadow: $box-shadow-2;
    }

    &__ingredients-input {
        grid-column: 2/4;
    }

    &__column {
        margin-top: $margin-md;
        justify-self: center;
    }

    &__column--min {
        grid-column: 2/3;
    }

    &__label-icon {
        color: rgba($color-black, 0.5);
    }

    &__annotation-box {
        background-color: rgba($color-secondary, 0.5);

        padding: $padding-xxs $padding-xs;
        position: absolute;
        top: 23%;
        max-width: 80%;

        &--min {
            left: 10%;
        }

        &--max {
            right: 10%;
        }
    }

    &__annotation {
        font-size: 1.4rem;
    }

    &--navi {
        display: grid;
        grid-template-columns: 1fr min-content;
        align-items: start;
    }
}
