*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px
    min-height: 100%;
}

body {
    box-sizing: border-box;
    min-height: 100%;
    padding: $padding-lg;
    background-color: $color-white;
    position: relative;

    &__layout--navi {
        background-color: $color-white;
    }
}
