body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}

.heading--1 {
    font-size: 4.8rem;
    color: $color-white;

    @media only screen and (max-width: $bp-xxs) {
        font-size: 2.4rem !important;
    }
}

.heading--2 {
    font-size: 3.2rem;

    @media only screen and (max-width: $bp-xxs) {
        font-size: 2rem !important;
    }
}

.heading--3 {
    font-size: 2.4rem;
}

.heading--4 {
    font-size: 1.6rem;
    font-weight: 500;
}
