.center-content--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-content--row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-element {
    text-align: center;
}

.hidden {
    display: none !important;
}
