.head-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}
.app-text {
    &__heading {
        line-height: 1;
    }

    &__period {
        color: $color-highlight;
    }

    &__intro {
        margin: $margin-sm 0 $margin-md 0;
        line-height: 1.2;
    }
}

.results-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: $grid-gap-md;
}

.search-results {
    grid-column: 1/2;
}

.recipe {
    grid-column: 2/3;
}
